.pagination {
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 30px;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    &:hover {
      color: $primary-color;
  }
}
}